<div class="row" style="height: 100%;">

  <ds-loading *ngIf="loader"></ds-loading>

  <style>
    .ant-input-affix-wrapper {

      padding: 6px 11px !important;
    }

    .rgtcrdstle {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 385px;
      /* border: 3px solid #73AD21; */
      height: 100%;
      background: white;
      padding: 30px;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .gradient-text {
      /* Fallback: Set a background color. */
      background-color: #CA4246;

      /* Create the gradient. */
      /* background-image: linear-gradient(45deg,
          #CA4246 16.666%,
          #E16541 16.666%,
          #E16541 33.333%,
          #F18F43 33.333%,
          #F18F43 50%,
          #8B9862 50%,
          #8B9862 66.666%,
          #476098 66.666%,
          #476098 83.333%,
          #A7489B 83.333%); */
      background-image: linear-gradient(45deg, #205844 16.666%, #205844 16.666%, #205844 33.333%, #205844 33.333%, #205844 50%, #205844 50%, #205844 66.666%, #476098 66.666%, #205844 83.333%, #205844 83.333%);

      /* Set the background size and repeat properties. */
      background-size: 100%;
      background-repeat: repeat;

      /* Use the text as a mask for the background. */
      /* This will show the gradient as a text color rather than element bg. */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      /* Animate the text when loading the element. */
      /* This animates it on page load and when hovering out. */
      animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

    }

    .gradient-text:hover {
      animation: rainbow-text-simple-animation 0.5s ease-in forwards;
    }

    @keyframes rainbow-text-simple-animation-rev {
      0% {
        background-size: 650%;
      }

      40% {
        background-size: 650%;
      }

      100% {
        background-size: 100%;
      }
    }

    /* Move the background and make it larger. */
    /* Animation shown when hovering over the text. */
    @keyframes rainbow-text-simple-animation {
      0% {
        background-size: 100%;
      }

      80% {
        background-size: 650%;
      }

      100% {
        background-size: 650%;
      }
    }


    /* background animations  */


    .circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .circles li {
      position: absolute;
      display: block;
      list-style: none;
      width: 20px;
      height: 20px;
      /* background: #a8c0ff; */
      background: #e0e5f5;
      animation: animate 25s linear infinite;
      bottom: -150px;
    }

    .circles li:nth-child(1) {
      left: 25%;
      width: 80px;
      height: 80px;
      animation-delay: 0s;
    }

    .circles li:nth-child(2) {
      left: 10%;
      width: 20px;
      height: 20px;
      animation-delay: 2s;
      animation-duration: 12s;
    }

    .circles li:nth-child(3) {
      left: 70%;
      width: 20px;
      height: 20px;
      animation-delay: 4s;
    }

    .circles li:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      animation-delay: 0s;
      animation-duration: 18s;
    }

    .circles li:nth-child(5) {
      left: 65%;
      width: 20px;
      height: 20px;
      animation-delay: 0s;
    }

    .circles li:nth-child(6) {
      left: 75%;
      width: 90px;
      height: 90px;
      animation-delay: 3s;
    }

    .circles li:nth-child(7) {
      left: 35%;
      width: 75px;
      height: 75px;
      animation-delay: 7s;
    }

    .circles li:nth-child(8) {
      left: 50%;
      width: 25px;
      height: 25px;
      animation-delay: 15s;
      animation-duration: 45s;
    }

    .circles li:nth-child(9) {
      left: 20%;
      width: 15px;
      height: 15px;
      animation-delay: 2s;
      animation-duration: 35s;
    }

    .circles li:nth-child(10) {
      left: 85%;
      width: 75px;
      height: 75px;
      animation-delay: 0s;
      animation-duration: 11s;
    }

    @keyframes animate {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
      }

      100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
      }
    }

    .btn-shade {
      box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 8%);
    }

    .lg-footer {
      position: fixed;
      background: none;
      padding: 0px;
      color: #fff;
      bottom: 0;
      text-align: center;
      display: none;
    }

    .lgnFrm {
      text-align: center;
      height: 215px;
      padding: 133px 20px 10px 10px;
    }

    .lgnFrm img {
      width: 100%;
    }

    .loginimg img {
      width: 40%;
      margin: 0px auto;
      display: block;
    }

    .lgnpgtitle {
      text-align: center;
      color: #071d3c;
      font-size: 28px;
      padding: 20px;
      font-weight: 600;
      text-shadow: 2px 0px #ffbebe;
    }

    .powereby {
      position: absolute;
      bottom: 1%;
      right: 7%;
      font-size: 16px;
      font-weight: 500;
      color: #255946 !important;
    }

    .orgnme {
      position: absolute;
      bottom: 0px;
      right: 5%;
      font-size: 22px;
      color: #1c1c80;
      font-weight: 700;
    }

    .lgnctitle {
      /* font-size: 26px;
      margin-bottom: 0;
      text-transform: uppercase;
      text-shadow: 2px 2px 2px #fff;
      font-family: lora; */
      /* font-size: 30px; */
      /* margin-bottom: 0;
    text-transform: uppercase;
    text-shadow: 1px 2px 0px #199dba;
    font-family: lora;
    word-spacing: 4px; */
      /* font-weight: 900; */
      font-size: 30px;
      font-weight: bold;
    }

    .mainpgesctn {
      width: 100%;
      text-align: center;
      height: 500px;
      padding-top: 15%;
    }

    .rmc_logo_icn {
      background: aliceblue;
      border-radius: 100%;
      /* padding: 4px; */
      margin-right: 10px;
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    }

    .ant-form-item {
      box-shadow: 0 4px 8px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 10%);
    }

    .rmclogoimg img {
      display: none;
    }

    @media only screen and (min-width:1200px) and (max-width:1500px) {
      .loginimg img {
        margin-left: 14%;
        display: initial;
      }

      .lgnpgtitle {
        margin-left: 21%;
        text-align: left;
      }

      .mainpgesctn {
        height: 400px;
      }

      .powereby {

        right: 18%;
      }

      .orgnme {
        right: 15%;
      }
    }

    @media only screen and (min-width:700px) and (max-width:1100px) {
      .loginimg img {
        margin-left: auto;
        display: initial;
      }

      .lgnpgtitle {
        text-align: left;
        font-size: 22px;
      }

      .mainpgesctn {
        height: 400px;
        padding-top: 15%;
        padding-left: 4%;
        text-align: center;
      }

      .lgnctitle {
        font-size: 20px;
      }

      .powereby {
        bottom: -14%;
        left: 18px;
      }

      .orgnme {
        bottom: -110px;
        left: 17px;
        font-size: 20px;

      }
    }

    @media only screen and (min-width:320px) and (max-width:500px) {
      .rgtcrdstle {

        /* width: 375px; */
        width: 100%;
      }

      .lg-footer {

        display: block;
        left: 15%;
      }

      .rmclogoimg img {
        display: none;
        margin-left: auto;
        margin-right: auto;
      }

      .lgnFrm {
        text-align: center;
        height: auto;
        padding: 0px;
        margin-top: 20%;
      }

      .lgnFrm img {
        width: 75%;
      }

      .custmwdth {
        width: 85% !important;
      }

      .login-form {
        margin: 0px 12px
      }

    }

    .row {
      margin-right: 0px;
      margin-left: 0px;
    }
  </style>


  <div class="col-md-10 col-sm-9" style="    padding: 0px; background-image: url(assets/images/others/login-3.png);">
    <div class="d-sm-none d-md-block">


      <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <div class="mainpgesctn">
        <!-- <img src="assets/images/logo/logo.png" class="image-center lgn_logo_icn hme-logo">
        <h1 style="color: #005892">Welcome to</h1>

        <div>
          <span class="lgnctitle gradient-text">{{data.clnt_aplcn_nm}}</span>


        </div> -->
      </div>


    </div>
    <footer class="hm-footer">
      <div class="ftr-image">
        <!-- <p class="powereby"> Powered by Sunshine.</p> -->
      </div>
    </footer>
  </div>

  <div class="col-md-2 col-sm-3">
    <div class=" rgtcrdstle">
      <div class="form-elegant myText">
        <div style="text-align: center;height: 215px;padding: 133px 20px 10px 10px;">
          <!-- <img src="assets/images/logo/employee_login_logo.png" width="376" style="width: 100%;"> -->
        </div>
        <div class="rmclogoimg">
        </div>
        <div class="login-card-label" style="text-align:center;     color: #fd5401;">{{settings.screen_heading}}</div>

        <form nz-form [formGroup]="loginForm" autocomplete="off" (ngSubmit)="doLogin()"
          *ngIf="settings.current_screen=='login'">
          <nz-form-item>

            <nz-form-label [nzSpan]="7" nzRequired>Username</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Username is required">
              <input nz-input name="username" formControlName="username" placeholder="Username" required />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Password is required">
              <input nz-input type="password" formControlName="password" placeholder="password" required />
            </nz-form-control>
          </nz-form-item>
          <!-- Capcha HTML Code -->
          <!-- <div class="row login-form-margin">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <div style="background: #ffffff;
              border: 1px solid #e1e1e1;
              border-radius: 7px;">
                <img [src]="captchImg" alt="Capcha to load" style="width: 100%;
              height: 74px;">
              </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1" style="padding: 0px;">
              <button type="button" (click)="getCaptchaText()"
                style="background: #81348a; border: none; margin-top: 50px; color: #ffffff; padding-left: 4px; padding-right: 4px; border-radius: 4px;"><i
                  nz-icon nzType="reload" nzTheme="outline" style="display: inline-grid;"></i></button>
            </div>
          </div> 

          <nz-form-item>
            <nz-form-label [nzSpan]="24" nzFor="rmcCtznCptch">Enter the code from the above image</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input autocomplete="off" type="text" maxlength="4" formControlName="captcha">
            </nz-form-control>
          </nz-form-item> -->


          <div nz-row class="login-form-margin" style="margin-top:12px;">
            <div nz-col [nzSpan]="12">
            </div>
            <div nz-col [nzSpan]="12">
              <a class="login-form-forgot" (click)="frgtPasswrd()">Forgot password?</a>
            </div>
          </div>
          <div nz-row *ngIf="errmsg">
            <h6 style="color: red">{{err_msg}}</h6>
          </div>
          <button nz-button nzType="primary" class="login-form-button login-form-margin btn-shade"
            [nzType]="'primary'">Log in</button>
        </form>


        <form nz-form [formGroup]="forgotForm" class="login-form" *ngIf="settings.current_screen=='forgot'">
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>UserName</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
              <input nz-input formControlName="username" placeholder="User Name" />
              <ng-template #userErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your username!</ng-container>
                <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>New Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="password">
              <input nz-input formControlName="newPassword" placeholder="New Password" (ngModelChange)="validateConfirmPassword()" type="password"
              autocomplete="new-password"/>
              <ng-template #password let-control>
                <ng-container *ngIf="control.hasError('required')">Please input your new password</ng-container>
                <!-- <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container> -->
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Confirm Password</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="passwordErrorTpl">
              <input nz-input formControlName="confirmPassword" placeholder="Confirm Password" />
              <ng-template #passwordErrorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">Please Confirm your password</ng-container>
                <ng-container *ngIf="control.hasError('confirm')"
                    >Password is inconsistent!</ng-container
                  >
                <!-- <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container> -->
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <!-- <nz-form-item>
            <nz-form-control nzErrorTip="Please input your PhoneNumber!" style="width: 100%;">
              <nz-input-group nzPrefixIcon="user">
                <input type="number" onKeyPress="if(this.value.length==10) return false;" nz-input
                  formControlName="phoneNumber" placeholder="PhoneNumber" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item> -->
          <!-- <div class="row login-form-margin">
            <div class="col-lg-10 col-md-10 col-sm-10">
              <div style="background: #ececec;">
                <img [src]="captchImg" alt="Capcha to load" style="width: 100%;
              height: 74px;">
              </div>
            </div> -->
            <!-- <div class="col-lg-1 col-md-1 col-sm-1" style="padding: 0px;">
              <button type="button" (click)="getCaptchaText()"
                style="background: #81348a; border: none; margin-top: 50px; color: #ffffff; padding-left: 4px; padding-right: 4px; border-radius: 4px;"><i
                  nz-icon nzType="reload" nzTheme="outline" style="display: inline-grid;"></i></button>
            </div> -->
          <!-- </div> -->
          <!-- <nz-form-item class="ant-form-item">
            <nz-form-label [nzSpan]="24" nzFor="rmcCtznCptch">Enter the code from the above image</nz-form-label>
            <nz-form-control [nzSpan]="24">
              <input nz-input name="rmcCtznCptch" id="rmcCtznCptch" autocomplete="off" type="text"
                formControlName="captcha">
            </nz-form-control>
          </nz-form-item> -->
          <!-- <div nz-row *ngIf="errmsg">
            <h6 style="color: red">{{err_msg}}</h6>
          </div> -->
          <!-- <button nz-button class="login-form-button login-form-margin btn-shade" [nzType]="'primary'"
            (click)="otpsnd()" style="font-weight: 700;" [disabled]="!forgotForm.valid">Send
            OTP</button> -->
          <!-- <div nz-row>
            <a (click)="bckToLgn()">Back to login</a>
          </div> -->
          <div nz-row>
            <a class="login-form-forgot" (click)="bckToLgn()">Back to login</a>
          </div>
          <button nz-button nzType="primary" class="login-form-button login-form-margin btn-shade"
            [nzType]="'primary'">Reset</button>
        </form>
        <form nz-form [formGroup]="otpForm" class="login-form" *ngIf="settings.current_screen=='otp'">
          <nz-form-item class="ant-form-item">
            <nz-form-control [nzSpan]="24" nzExtra="OTP sent to your number please check...">
              <div nz-row [nzGutter]="8">
                <div nz-col [nzSpan]="12">
                  <input type="number" nz-input formControlName="otp" placeholder="OTP" />
                </div>
                <div nz-col [nzSpan]="12">
                  <button nz-button (click)="otpsnd()">Resend OTP?</button>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <div class="text-center mb-3" *ngIf="!errmsg && otp_rsnd">Expires in 30mins
          </div>
        </form>
        <form nz-form [formGroup]="setPaswrdForm" class="login-form" *ngIf="settings.current_screen=='reset'">
          <nz-form-item class="ant-form-item">
            <nz-form-control nzErrorTip="Please input your New Password!" style="width: 100%;">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="newPassword" placeholder="New Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item class="ant-form-item">
            <nz-form-control nzErrorTip="Please Confirm Password!" style="width: 100%;">
              <nz-input-group nzPrefixIcon="lock">
                <input type="password" nz-input formControlName="CnfrmPassword" placeholder="Confirm Password" />
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
          <div nz-row *ngIf="errmsg">
            <h6 style="color: red">{{err_msg}}</h6>
          </div>

          <button nz-button class="login-form-button login-form-margin btn-shade" [nzType]="'primary'"
            (click)="submtOtp()" style="font-weight: 700;" [disabled]="!otpForm.valid">Submit</button>
          <div nz-row>
            <a (click)="bckToLgn()">Back to login</a>
          </div>
        </form>
      </div>

      <p class="lg-footer font-size-12">
        <span style="color:black;">Powered by </span><span> <a href="#">Sunshine Technologies.</a> </span>
      </p>
    </div>
  </div>
</div>