@import url('./assets/lib/hljs/styles/atom-one-light.css');
@import url('../node_modules/ng-zorro-antd/src/ng-zorro-antd.min.css');
@import url('../node_modules/@fortawesome/fontawesome-free/css/all.min.css');
@import './assets/scss/app.scss';
@import './assets/css/leaflet.draw.css';


.leaflet-top .leaflet-control {
  margin-top: 70px !important;
}

.required::after {
  display: inline-block;
  margin-left: -7px;
  color: #ff4d4f;
  font-size: 14px;
  vertical-align: super;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.drawer-form nz-form-label {
  text-align: left;
}

.space {
  width: 150px;
}

.fa-circle-xmark {
  color: rgb(237, 61, 61);
  font-size: x-large;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

$menu-color: #ffffff;
$menu-gb-color: #08243c;

$menu-a-color: #ffeb3b;
$menu-a-gb-color: #255946;

$menu-h-color: #08243c;
$menu-h-bg-color: #ffeb3b;

$menu-border-color: #ffffff;


$primary-color: #255946;

$primary-bg-color: #255946;
$primary-color-on-bg: #ffffff;

.leaflet-contextmenu {
  display: none;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 4px 0;
  background-color: #fff;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
  display: block;
  color: #222;
  font-size: 12px;
  line-height: 20px;
  text-decoration: none;
  padding: 0 12px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  cursor: default;
  outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
  opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
  background-color: #f4f4f4;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
  background-color: inherit;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
  margin: 2px 8px 0 0;
  width: 16px;
  height: 16px;
  float: left;
  border: 0;
}

.leaflet-contextmenu-separator {
  border-bottom: 1px solid #ccc;
  margin: 5px 0;
}

//   Leaflet Ruler

.leaflet-ruler {
  height: 35px;
  width: 35px;
  //  background-image: url("..//assets/images/others/icon.png"); /* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
  background-repeat: no-repeat;
  background-position: center;
}

.leaflet-ruler:hover {
  //  background-image: url("../assets/images/others/icon-colored.png"); /* <div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div> */
}

.leaflet-ruler-clicked {
  height: 35px;
  width: 35px;
  background-repeat: no-repeat;
  background-position: center;
  //  background-image: url("../assets/images/others/icon-colored.png");
  border-color: chartreuse !important;
}

.leaflet-bar {
  background-color: #ffffff;
}

.leaflet-control {
  cursor: pointer;
}

.result-tooltip {
  background-color: white;
  border-width: medium;
  border-color: #de0000;
  font-size: smaller;
}

.moving-tooltip {
  background-color: rgba(255, 255, 255, .7);
  background-clip: padding-box;
  opacity: 0.5;
  border: dotted;
  border-color: red;
  font-size: smaller;
}

.plus-length {
  padding-left: 45px;
}

// --- Setup related
.del-confirm-table {
  margin-top: 36px;
  width: 100%;
  margin-bottom: 30px;
  border-top: 1px solid $menu-a-gb-color;

  .hdr {
    background: $primary-bg-color;
    color: $primary-color-on-bg;
  }

  .col {
    width: 50%
  }

  .row {
    border-bottom: 1px solid $menu-a-gb-color;
  }

  tr:nth-child(even) {
    background-color: #d7ffd730;
  }
}

//-- generic
.main-content {
  background-color: #ebeff3;
}

.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.pb-25 {
  padding-bottom: 25px;
}

.ant-input {
  background: -webkit-radial-gradient(to top, #e3dede, #f8eeee);
  border: solid 1px #c5c5c5;
}

.ant-checkbox {
  background: -webkit-radial-gradient(to top, #e3dede, #f8eeee);
  border: solid 1px px #c5c5c5 !important;
}

.ant-input-affix-wrapper {
  background: -webkit-radial-gradient(to top, #e3dede, #f8eeee);
  border: solid 1px #c5c5c5;
}

.hd-search {
  margin-top: -15px;
  margin-bottom: -16px;

  .ant-input {
    background: white;
    border: solid 1px #c5c5c5;
    padding: 8px !important;
    border-radius: 16px !important;
    height: 32px;
    right: 20px;
    background-color: #fff;
    padding: 8px 10px;
  }

}

nz-select-top-control.ant-select-selector {
  background: -webkit-radial-gradient(to top, #e3dede, #f8eeee);
  border: solid 1px #c5c5c5;
}

.std-card {
  background: #fff;
  color: rgba(0, 0, 0, .87);
  box-shadow: 0 1px 2px 0 rgba(115, 143, 147, .4) !important;
  margin-top: 20px;

  .std-card-hd {

    padding: 10px;

    .std-card-title {
      font-weight: 500;
    }

    .std-card-sb-title {
      font-size: 11px;
      line-height: 1.38;
      color: #727681;
      border-bottom: 1px dotted #dadfe3;
      padding-bottom: 10px;
    }

  }
}

.ds-master-form {
  nz-form-label {
    margin-bottom: -15px;
    margin-top: -20px;

  }

  label {
    width: 100%;
  }

  .optnl {
    font-size: 10px;
    padding-left: 10px;
    float: right;
  }

  .lbl {
    float: left;
    margin-left: -7px;
  }
}

.ant-picker {
  width: 100% !important;
  border-radius: 5px !important;
  background: -webkit-radial-gradient(to top, #e3dede, #f8eeee);
  border: solid 1px #c5c5c5;
}

.ng-star-inserted.ant-upload.ant-upload-drag {
  width: 100px;
  height: 100px;
  padding: 4px;
}

.ds-map {
  .btn {
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }

  .btn.btn-default {
    width: 30px;
    height: 30px;
    color: #ffffff;
    background: #1212d9;
    border: solid 1px;
  }

  .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }

  .btn-default:focus,
  .btn-default.focus {
    color: #fff;
    background-color: #009688;
    border-color: #e91e63;
  }

  .btn-default:hover {
    color: #fff;
    background-color: #e91e63;
    border-color: #adadad;
  }

  .btn-default:active,
  .btn-default.active,
  .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #009688;
    border-color: #e91e63;
  }

  .btn-default:active:hover,
  .btn-default.active:hover,
  .open>.dropdown-toggle.btn-default:hover,
  .btn-default:active:focus,
  .btn-default.active:focus,
  .open>.dropdown-toggle.btn-default:focus,
  .btn-default:active.focus,
  .btn-default.active.focus,
  .open>.dropdown-toggle.btn-default.focus {
    color: #333;
    background-color: #d4d4d4;
    border-color: #8c8c8c;
  }

  .btn-default:active,
  .btn-default.active,
  .open>.dropdown-toggle.btn-default {
    background-image: none;
  }
}

// .ant-menu-inline .ant-menu-item:not(:last-child){
//   margin-bottom: 0px;
// }

// .is-folded .side-nav {
//   width: 65px;
// }



// .is-folded .side-nav .ant-menu-inline-collapsed {
//   width: 60px;
// }



// .is-folded  .header .logo {
//   width: 66px!important;
// }

// .common-layout.is-folded .page-container {
//   padding-left: 66px;
// }
// .ant-menu.ant-menu-inline-collapsed>.ant-menu-item{
//   padding-left: 10px;
// }

// .ant-menu-inline .ant-menu-submenu{
//   padding-bottom: 1px;
//   padding-top: 1px;
// }
// a.ant-menu-submenu-title.ng-star-inserted {
//   padding-left: 10px!important;
// }

// .common-layout .page-container .main-content {
//   padding: calc(50px + 25px) 25px 25px 25px;
//   min-height: calc(100vh - 27px);
// }
.footer .footer-content {

  font-size: 11px;
}

.b-btm {
  border-bottom: solid 1px #e7dddd;
}

.ant-menu-inline .ant-menu-item {
  margin-bottom: -8px !important;
}

li.ant-menu-submenu.ant-menu-submenu-inline.ng-star-inserted {
  margin-bottom: -8px !important;
}

// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
//     background-color: $menu-a-gb-color !important;
//     // background-color: #FFC107 !important;
//     //border-radius: 4px;
// }
// .ant-menu-inline .ant-menu-item::after {
//     border-right: 0px solid #fbcd15 !important;
// }

// .ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
//     padding: 0 20px !important;
// }
// .ant-menu-inline-collapsed > .ant-menu-item {
//     padding: 0 0px !important;
// }

// .side-nav {
//     box-shadow: 0 2.8px 2.2px rgb(0 0 0 / 0%), 0 6.7px 5.3px rgb(0 0 0 / 0%), 0 12.5px 10px rgb(0 0 0 / 0%),
//         0 22.3px 17.9px rgb(0 0 0 / 0%), 0 41.8px 33.4px rgb(255 255 255 / 9%), 0 100px 80px rgb(0 0 0 / 9%) !important;
// }

// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a {
//     // color: #ffffff!important;
//     color: $menu-a-color !important;
//     // background: #118791;
//     // background: #FFC107;
//   //  border-radius: 6px;
// }

// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a:hover {
//     color: $menu-a-color !important;
// }

// // .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a:hover {

// //     background: #e4e9f0 !important;
// //     color: #af1caf!important;
// // }

// .ant-drawer-header {
//     box-shadow: 0 1px 2px 0 rgba(115, 143, 147, 0.4) !important;
//     background: $primary-color !important;
//     border-bottom: 0px solid #f0f0f0 !important;
// }
// .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected.sdeMnuIcn:hover {
//     color: $menu-color !important;
// }
// .ant-drawer-title {
//     color: white !important;
// }
// .anticon-close {
//     color: white !important;
// }
// input {
//     border-radius: 5px !important   ;
// }
// //   .ant-menu-item-selected{
// //     color: #ffffff!important;
// // }

// // serchpanel in data grid
// @media only screen and (min-width: 320px) and (max-width: 480px) {
//     .dx-datagrid-search-panel {
//         display: none !important;
//     }
//     .dx-group-panel-message {
//         display: none !important;
//     }
// }
// // header toolbar css
// @media only screen and (min-width: 320px) and (max-width: 480px) {
//     .header-logo-text {
//         margin-top: 8px !important;
//         width: 250px !important;
//         font-size: 11px !important;
//         line-height: 18px !important;
//         white-space: wrap !important;
//         text-align: center !important;
//     }
//     .header-logo-sb-text {
//         font-size: 10px !important;
//     }
//     .hdrUsrImg {
//         margin-top: 0px !important;
//     }
// }
// .is-folded .side-nav .ant-menu-inline-collapsed {
//     padding: 0px !important;
// }

// .ant-menu-submenu-popup {
//     background-color: #fff !important;
// }
// .ant-menu-inline-collapsed.ant-menu-inline .ant-menu-item::after {
//     border-right: 0px solid $menu-a-color !important;
// }
// .ant-menu:not(.ant-menu-dark) a:hover {
//     // color: #990d0d;
//     // color: #118791!important;
//     color: $menu-h-color !important;
//     font-weight: 500;
// }
// .ant-menu-inline .ant-menu-submenu-title {
//     margin-bottom: 0px !important;
// }
// .ant-menu-submenu-title:hover {
//     background: $menu-h-bg-color !important;
//     // border-radius: 4px;
// }

// .ant-menu-inline.ant-menu-item a {
//     color: $menu-color !important;
//     font-size: 12px !important;
// }

// .ant-menu:not(.ant-menu-dark) a {
//     color: $menu-color !important;
//     font-size: 12px !important;
// }

// .ant-menu-inline.ant-menu-item a:hover {
//     color: $menu-h-color !important;
// }

// .ant-menu-inline .ant-menu-item:hover {
//     background: $menu-h-bg-color;
//    // border-radius: 4px;
// }

// .ant-menu-inline-collapsed > .ant-menu-item-selected a {
//     background: $menu-a-gb-color!important;
// }

//-- leaflet weather Map
.owm-icondiv {
  width: 50px;
  opacity: 0.7;
  text-align: center;
  background-color: lightgray;
  border-radius: 10px;
  border: 1px solid darkgray;
}

.owm-icondiv-temp {
  color: black;
  font-weight: bold;
  text-shadow: 0.1em 0.1em 0.1em white;
  xtext-shadow: white 0.1em 0.1em;
}

.owm-popup-name {
  font-size: 2em;
  font-weight: bold;
}

.owm-popup-name a:link,
.owm-popup-name a:active,
.owm-popup-name a:visited {
  color: black;
  text-decoration: none;
}

.owm-popup-name a:hover {
  color: red;
  text-decoration: none;
}

.owm-popup-description {
  font-size: 1.5em;
  font-weight: bold;
}

.owm-popup-main {}

.owm-popup-main img {
  vertical-align: middle;
}

.owm-popup-main span {
  padding-left: 0.5em;
}

.owm-popup-temp {
  font-weight: bold;
  font-size: 2em;
}

.owm-popup-details {}

.owm-popup-detail {}

.owm-popup-timestamp {
  color: gray;
  padding-top: 0.5em;
}

.owm-legend-item {}

//--- Leaflet search

.leaflet-container .leaflet-control-search {
  position: relative;
  float: left;
  background: #fff;
  color: #1978cf;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1000;
  margin-left: 10px;
  margin-top: 10px;
}

.leaflet-control-search.search-exp {
  /*expanded*/
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.leaflet-control-search .search-input {
  display: block;
  float: left;
  background: #fff;
  border: 1px solid #666;
  border-radius: 2px;
  height: 22px;
  padding: 0 20px 0 2px;
  margin: 4px 0 4px 4px;
}

.leaflet-control-search.search-load .search-input {
  // background: url('../images/loader.gif') no-repeat center right #fff;
}

.leaflet-control-search.search-load .search-cancel {
  visibility: hidden;
}

.leaflet-control-search .search-cancel {
  display: block;
  width: 22px;
  height: 22px;
  position: absolute;
  right: 28px;
  margin: 6px 0;
  // background: url('../images/search-icon.png') no-repeat 0 -46px;
  text-decoration: none;
  filter: alpha(opacity=80);
  opacity: 0.8;
}

.leaflet-control-search .search-cancel:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

.leaflet-control-search .search-cancel span {
  display: none;
  /* comment for cancel button imageless */
  font-size: 18px;
  line-height: 20px;
  color: #ccc;
  font-weight: bold;
}

.leaflet-control-search .search-cancel:hover span {
  color: #aaa;
}

.leaflet-control-search .search-button {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  // background: url('../images/search-icon.png') no-repeat 4px 4px #fff;
  border-radius: 4px;
}

.leaflet-control-search .search-button:hover {
  // background: url('../images/search-icon.png') no-repeat 4px -20px #fafafa;
}

.leaflet-control-search .search-tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  float: left;
  list-style: none;
  padding-left: 0;
  min-width: 120px;
  max-height: 122px;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 1010;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: pointer;
}

.leaflet-control-search .search-tip {
  margin: 2px;
  padding: 2px 4px;
  display: block;
  color: black;
  background: #eee;
  border-radius: .25em;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: center;
}

.leaflet-control-search .search-button:hover {
  background-color: #f4f4f4;
}

.leaflet-control-search .search-tip-select,
.leaflet-control-search .search-tip:hover {
  background-color: #fff;
}

.leaflet-control-search .search-alert {
  cursor: pointer;
  clear: both;
  font-size: .75em;
  margin-bottom: 5px;
  padding: 0 .25em;
  color: #e00;
  font-weight: bold;
  border-radius: .25em;
}


// -styled layers selection



.ac-container {
  width: auto;
  text-align: left;
  overflow-y: auto;
  overflow-x: hidden;
  height: auto;
}

div[id^="leaflet-control-accordion-layers"]>label {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  padding: 5px 20px;
  position: relative;
  z-index: 20;
  display: block;
  height: 30px;
  cursor: pointer;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.8);
  line-height: 33px;
  font-size: 19px;
  background: #ffffff;
  background: -moz-linear-gradient(to top, #ffffff 1%, #eaeaea 100%);
  background: -webkit-gradient(linear, to left top, to left bottom, color-stop(1%, #ffffff), color-stop(100%, #eaeaea));
  background: -webkit-linear-gradient(to top, #ffffff 1%, #eaeaea 100%);
  background: -o-linear-gradient(to top, #ffffff 1%, #eaeaea 100%);
  background: -ms-linear-gradient(to top, #ffffff 1%, #eaeaea 100%);
  background: linear-gradient(to top, #ffffff 1%, #eaeaea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eaeaea', GradientType=0);
  box-shadow:
    0px 0px 0px 1px rgba(155, 155, 155, 0.3),
    1px 0px 0px 0px rgba(255, 255, 255, 0.9) inset,
    0px 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  cursor: pointer;
  width: auto;
  margin: 0;
}

div[id^="leaflet-control-accordion-layers"]>label:hover {
  background: #fff;
}

.ac-container input.menu:checked+label,
.ac-container input.menu:checked+label:hover {
  background: #c6e1ec;
  color: #3d7489;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.6);
  box-shadow:
    0px 0px 0px 1px rgba(155, 155, 155, 0.3),
    0px 2px 2px rgba(0, 0, 0, 0.1);
}

.ac-container div[id^="leaflet-control-accordion-layers"]>label:hover:after,
.ac-container input.menu:checked+div[id^="leaflet-control-accordion-layers"]>label:hover:after {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  right: 13px;
  top: 7px;
  // background: transparent url(images/arrow_down.png) no-repeat center center;
}

.ac-container input.menu:checked+div[id^="leaflet-control-accordion-layers"]>label:hover:after {
  // background-image: url(images/arrow_up.png);
}

.ac-container input.menu {
  display: none;
}

.ac-container article {
  background: rgba(255, 255, 255, 0.5);
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  padding: 0px;
  line-height: 0px;
  position: relative;
  z-index: 10;
  -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  -ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
  transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container input.menu:checked~article {
  -webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  -ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
  transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
}

.ac-container input.menu:checked~article.ac-large {
  height: auto;
  max-height: 100px;
  padding: 8px 0;
  overflow-y: auto;
  line-height: 18px;
}

.ac-container article label {
  display: inline;
  cursor: pointer;
}

.ac-container .group-toggle-container {
  text-align: right;
  margin-right: 3px;
  line-height: 0px;
  display: none;
  height: 20px;
}

.ac-container input.menu:checked~.group-toggle-container {
  display: block;
  line-height: 1em;
}

.menu-item-radio {
  font-family: 'Ubuntu-Regular', Arial, sans-serif;
  font-size: 13px;

}

.menu-item-checkbox {
  font-family: 'Ubuntu-Regular', Arial, sans-serif;
  font-size: 13px;

}

.bt_delete {
  position: relative;
  float: right;
  // background-image: url(images/delete.png);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

.leaflet-control-layers-expanded {
  padding: 5px;
}

.leaflet-control-layers:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  // background: #e0e3ec url(images/bgnoise_lg.jpg) repeat top left;
  border-radius: 5px;
}

.hme-logo {
  width: 300px;
}

.tblEdtBtn {
  color: #2d7fe2;
  // background-color: #e1ecf485;
  background-color: rgba(225, 236, 244, 0.5215686274509804);
  border-color: transparent;
  border-radius: 5px;
  padding: 2px;
  font-weight: 500;
  text-align: center
}

.tblDelBtn {
  // color: #db0e0ec2;
  color: rgba(219, 14, 14, 0.7607843137254902);
  // background-color: #f4e1e182;
  background-color: rgba(244, 225, 225, 0.5098039215686274);
  border-color: transparent;
  border-radius: 5px;
  padding: 2px;
  font-weight: 500;
  text-align: center
}


.custm_drawer {
  .ant-drawer-body {
    padding-top: 0px;
    padding-left: 0px
  }
}


.scrl::-webkit-scrollbar {
  width: 0.5px;
}

.scrl::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrl::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.flow {
  overflow-x: auto !important;
}

// .ds-card .dx-scrollable-container {
//   margin-bottom: 10px !important;
// }